*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    background-color: rgba(255, 0, 128, 0.507);
    padding: 3em 2.57em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80vw;
    min-width: 37.5em;
    border-radius: 10px;
    box-shadow: 0 1.2em 1.0em rgba(55, 57, 59, 0.466);
    border-bottom: 2px solid black;

} */
.searchWrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}
.searchWrapper button{
    font-size: 1em !important;
    background-color: azure !important;
    color: black !important;
    padding: 0.8em 0 !important;
    border-radius: 1.5em !important;
}
/* .searchWrapper input{
    font-size: 1em !important;
    padding: 0 17em !important;
    border: none !important;
    border-bottom: 1px solid rgb(29, 17, 196) !important;
    outline: none !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 1.5em !important;
    letter-spacing: 2px !important;
} */
.searchWrapper input:focus{
    padding: 0 0.5em !important;
}
.result{
    margin-top: 1.25em;
}
.flagImg{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
    height: 45%;
    min-height: 7.5em;
}
.flagImg img{
    width: 45%;
    min-width: 7.5em;
    height: 45%;
    min-height: 7.5em;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
    font-size: 28px;
}
.bRadius{
    border-radius: 5px !important;
    border: none;
}
h2{
    font-size: 28px;
    text-align: center;
    /* margin-bottom: 1.5em; */
    /* font-size: 20px !important; */
    color: rgba(47, 0, 255, 0.945) !important;

    
    
    
}
h4{
    display: inline;
    font-weight: 600;
    color: #ff0000a4;
    font-size: 20px !important;
}
h3{
    color: #ff0000;
    font-weight: 800;
    text-align: center;
    font-size: 20px !important;
}
h1{
    font-size: 42px !important;
}
.display{
    margin-bottom: 1em !important;
   
}
.dataWrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
    text-align: center;  
}
.displayMessage{
    color: rgb(0, 219, 235) !important;
    line-height: 60px !important;
}
.displayMessageLoading{
    color: rgb(0, 255, 13) !important;
/*     margin: 0 100px !important; */
    line-height: 60px !important;
}
.inPlace{
    margin-top: 10px !important;
}
.search{
    font-weight: 900 !important;
    color: rgba(255, 0, 128, 0.945) !important;
    text-transform: uppercase !important;
}


.page{
    /* width: 90vw !important; */
    /* max-width: 1120px !important; */
    margin: 60px auto !important;
    /* padding: 2rem !important; */
    /* min-height: calc(100vh - (6rem + 4rem)); */
}

footer{
    background-color: grey !important;
    color: white !important; 
}
.page-footer{
    height: 4rem !important ;
    display: flex !important ;
    justify-content: center !important ;
    align-items: center !important ;
}
.page-footer p{
    margin-bottom: 0 !important ;
}
.footer-logo,
.footer-link{
    color: blue !important ;
}
